<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for("static",
    filename="css/hello.css")}}">
    <title>Paola & Clare Flask App Page</title>
    <h1>Welcome</h1>
    <img src="./static/images/travelmoney.jpg" alt="Travel Money">
  </head>

  <body>
    <h1>Convert GBP to Euros</h1>
    {% if name %}
      <p>Hello {{name}}!</p>

    {% else %}
      <p>Hello anonymous person!</p>

    {% endif %}

    <p>Let's keep in touch!</p>
    <div id="contact-form">
      <form method="post" action="/sign-up">
        How many GBP do you want to exchange:<br>
        <input type="text" name="GBP to EUR" value="GBP" required="required">
        <br>
        Last name:<br>
        <!-- <input type="text" name="lastname" value="Last Name">
        <br> -->
        <!-- Email:<br>
        <input type="email" id="email" name="email" value="Email">
        <br><br> -->
        <input type="submit" value="Submit" id="submit-button">
        <br>
        <p>Please choose your currency to convert<p>
        <select name="currency">
          <option value="GBP">GBP</option>
          <option value="EUR">EUR</option>

</select>
</form>
  </body>

</html>
